@import '../_variable.scss';

.dashboard {
  @media screen and (min-width: 992px) {
    height: calc(100vh - 13.27375rem);
  }

  &__user-avatar {
    position: relative;
  }

  &__user-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
  }

  &__button {
    color: $color-primary;
    text-decoration: none;

    &:hover,
    &:focus,
    &--active,
    &--active:hover {
      text-decoration: none;
    }

    &:hover,
    &--active,
    &--active:hover {
      color: #fff;
    }

    &:hover {
      color: #fff;
      background-color: $color-primary-variable;
      text-decoration: none;
    }

    &--active,
    &--active:hover {
      background-color: $color-primary;
    }
  }

  a.nav-item.nav-link {
    color: $color-primary;
  }

  a.nav-item.nav-link.active {
    color: $color-muted;
  }
}
