body {
  font-size: 2.8392rem;
}

.hero {
  height: 85vh;
  background-image: url('../assets/hero.svg');
  background-size: cover;
  background-position: center top;
}

.spacing-itens {
  padding-top: 3rem !important;
}

.tamanho-font {
  font-size: 1.8rem !important;
  padding-bottom: 2rem;
}
